/* Modal Container */
.fifthcontsecond {
    position: fixed;
    top: 100px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url("../images/BG_35.png") no-repeat center center;
    background-color: white;
    background-size: cover;
    padding-bottom: 50px;
}

/* Close Button */
#btn_button {
    position: absolute;
    top: 96px;
    right: 216px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

/* Decorative Art Elements */
.pop-up-left-art {
    position: absolute;
    bottom: 0 !important;
}

.pop-up-right-art {
    position: absolute;
    top: 0;
    right: 0;
}

/* Heading */
.rightcontpanel-heading {
    font-size: 70px;
    line-height: 85px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0 0 50px 0;
    margin-top: 90px;
    background: linear-gradient(90deg, #050EF1, #FD0200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Contact Section */
.contactsec .lftrytlineparts {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    padding-bottom: 5rem;
}

/* ========================================
   MEDIA QUERIES
   ======================================== */

/* Tablet Landscape: 1200px - 1366px */
@media (min-width: 1200px) and (max-width: 1366px) {
    .fifthcontsecond {
        overflow-y: scroll;
    }
}

/* Tablet: 768px - 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
    .rightcontpanel-heading {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    #btn_button {
        top: 50px;
        right: 120px;
    }

    .pop-up-right-art {
        width: 7rem;
    }
}

/* Tablet Specific: 768px - 880px */
@media (min-width: 768px) and (max-width: 880px) {
    .pop-up-left-art {
        width: 7rem;
    }
}

/* Mobile Large: max 768px */
@media screen and (max-width: 768px) {
    .rightcontpanel-heading {
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: -1rem;
    }

    .fifthcontsecond {
        top: 50px;
        height: calc(100vh - 50px);
        overflow: auto;
    }

    .pop-up-right-art {
        width: 7rem;
    }

    .pop-up-left-art {
        width: 5rem;
        margin-bottom: 0;
    }

    #btn_button {
        top: 45px;
        right: 96px;
    }
}

/* Mobile Small: max 480px */
@media screen and (max-width: 480px) {
    .fifthcontsecond {
        top: 50px;
        height: calc(100vh - 50px);
        padding: 0;
        overflow: auto;
    }

    .rightcontpanel-heading {
        font-size: 30px;
        line-height: 32px;
    }

    #btn_button {
        top: 18px;
        right: 12px;
    }

    .pop-up-right-art,
    .pop-up-left-art {
        width: 5rem;
    }

    .pop-up-left-art {
        margin-bottom: 0;
    }

    .contactsec .lftrytlineparts {
        margin-top: -50px;
    }
}

/* iPhone SE & Small Mobile: max 375px */
@media screen and (max-width: 375px) {
    .fifthcontsecond {
        top: 40px;
        height: calc(100vh - 40px);
        padding: 0;
    }

    .rightcontpanel-heading {
        font-size: 26px;
        line-height: 30px;
        margin-top: 60px;
        padding: 0 0 30px 0;
    }

    #btn_button {
        top: 15px;
        right: 10px;
    }

    .pop-up-right-art,
    .pop-up-left-art {
        width: 4rem;
    }

    .pop-up-left-art {
        margin-bottom: -150px;
    }

    .contactsec .lftrytlineparts {
        margin-top: -30px;
    }
}