

.fifthcontsecond {
    position: relative;
}

.pop-up-left-art {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pop-up-right-art {
    position: absolute;
    top: 0;
    right: 0;
}

.rightcontpanel-heading {
    font-size: 70px;
    line-height: 85px;
    font-family: 'Titillium Web';
    font-weight: bold;
    text-align: center;
    padding: 0 0 50px 0;
    background: linear-gradient(90deg, #050EF1, #FD0200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 90px;
}


/* ********************************* */
.contactsec .lftrytlineparts {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -100px;
    padding-bottom: 5rem;
}

.fifthcontsecond {
    height: 100vh;
    width: 100vw !important;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    z-index: 1000;
    background: url("../images/BG_3\ 5.png");
    /* space allowed inside quotes */
    background-color: white;
    background-size: cover;
    display: none;

    overflow: hidden;
 
}

#btn_button {
    position: absolute;
    top: 50px;
    right: 200px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

@media (min-width:1366px) and (max-width: 1920px) {
    .fifthcontsecond {
    
        width: 100vw !important;
        top: 100px;

    }

    #btn_button {
        position: absolute;
        top: 96px;
        right: 216px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 999;
    }
    .fifthcontsecond{
        padding-bottom: 50px;
    }
    .pop-up-left-art {
    bottom: 5rem;
    left: 0;
}
}


@media (min-width:1200px) and (max-width: 1366px) {
    .fifthcontsecond {
    
        width: 100vw !important;
        top: 100px;
        overflow-y: scroll;
    }

    #btn_button {
        position: absolute;
        top: 96px;
        right: 216px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 999;
    }
    .fifthcontsecond{
        padding-bottom: 50px;
    }

    .pop-up-left-art {
    bottom:0rem ;
}

}
@media (min-width:768px) and (max-width: 1200px) {
     .rightcontpanel-heading{
        font-size: 2.5rem;
    }
    .fifthcontsecond {
    
        width: 100vw !important;
        top: 100px;
    }

    #btn_button {
        position: absolute;
        top: 50px;
        right:120px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 999;
    }
    .fifthcontsecond{
        padding-bottom: 50px;
    }

      .pop-up-right-art {
        width: 7rem;
    }

    .pop-up-left-art {
        left: 0;
        bottom: 0;
        width: 7rem;
    }

}

@media (min-width:880px) and (max-width: 1200px) {

    .pop-up-left-art {
        left: 0;
        bottom: 90px;
        width: 7rem;
    }

   
}


@media (min-width:768px) and (max-width: 880px) {

    .pop-up-left-art {
        left: 0;
        bottom: 90px;
        width: 7rem;
    }

   
}

@media screen and (max-width: 768px) {
    .rightcontpanel-heading {
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: -1rem;
    }

    .fifthcontsecond {
        overflow: auto;
        top: 50px;
    }

    .pop-up-right-art {
        width: 7rem;
    }

    .pop-up-left-art {
        left: 0;
        bottom: 50px;
        width: 7rem;
    }

    #btn_button {
        top: 45px;
        right: 96px;
    }
}



@media screen and (max-width: 480px) {
    .fifthcontsecond {
        top: 50px !important;
        padding: 0 !important;
        z-index: 1000 !important;
        overflow: auto;
    }

    .rightcontpanel-heading{
        font-size: 30px;
        line-height: 32px;
    }

    #btn_button {
        top: 18px !important;
        right: 12px !important;
    }

    .pop-up-right-art {
        width: 5rem;
    }
    .pop-up-left-art{
        bottom: 50px ;
        width: 5rem;
    }

  
    .contactsec .lftrytlineparts{
        margin-top: -50px;
    }

}

@media (min-width:400px)  and(max-width:450px){
      .pop-up-left-art {
        left: 0;
        bottom: 50px;
        width: 4rem;
    }
}

@media (min-width:380px)  and(max-width:390px){
      .pop-up-left-art {
        left: 0;
        bottom: -0px !important;
        width: 5rem;
    }
}




@media (max-width:375px){
      .pop-up-left-art {
      
        bottom: -70px ;
       
    }
}


@media (max-width:345px){
      .pop-up-left-art {
      
        bottom: 50px ;
       
    }
}


@media (max-width:360px) {
      .pop-up-left-art {
        left: 0;
        bottom:0px;
        width: 5rem;
    }
}